/* INFOS variables */
/* end of INFOS variables */
/* this debug is for test */
.ibrahim-full-background > div:not(.ibrahim-foot) {
  color: white;
}

.ibrahim-full-background {
  height: 1800px;
  font-family: Arial, Helvetica, sans-serif;
}

.headMiddleBackgroundColor {
  background: linear-gradient(139.73deg, #e6fdff 0%, #f3efff 100%);
}

.ibrahim-margin {
  margin-top: 25px;
}

.ibrahim-button {
  position: relative;
  top: 5px;
  border-radius: 15px;
  font-size: 14px;
  letter-spacing: 1px;
  height: 45px;
  width: 195px;
  text-align: center;
  border: none;
  background-color: #1fc7d4;
  color: #fff;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px inset;
  z-index: 3;
  position: relative;
}
.ibrahim-button span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.ibrahim-button span:nth-child(2), .ibrahim-button span:last-child {
  display: none;
}
.ibrahim-button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.3s;
}

/*Header box tags*/
#headTag h1 {
  display: none;
  text-shadow: 0px 2px 10px black;
}
#headTag h1:first-child {
  display: flex;
}
#headTag #header-counter {
  position: relative;
  bottom: 5px;
  border-radius: 7px;
  width: 200px;
  height: 40px;
  padding-left: 4px;
  padding-top: 4px;
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  background-image: linear-gradient(#3b1e77, #49258f);
}
#headTag #header-counter span {
  color: #fec317;
}
#headTag #header-counter span sub {
  position: relative;
  bottom: 6px;
  font-size: 1rem;
  margin-left: 3px;
}

/* Header box images */
#header-aptos-img {
  display: initial;
  position: absolute;
  top: -36px;
  right: 0px;
  z-index: 2;
}

#header-perpetual-img {
  display: none;
  position: absolute;
  top: -41px;
  right: 0px;
  width: 392px;
  height: 236px;
}

#header-lottery-img {
  display: none;
  position: absolute;
  width: 1105px;
  height: 222px;
  top: -24px;
  right: -6px;
}

/* Header pagination swappers*/
#header-swipper-container {
  display: flex;
  flex-direction: row;
  align-self: center;
}

#header-bullet-active {
  opacity: 1;
}

.header-swipper {
  width: 36px;
  height: 8px;
  opacity: 0.2;
  z-index: 2;
  background-color: white;
}
.header-swipper:hover {
  cursor: pointer;
}
.header-swipper:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.header-swipper:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.ibrahim-head {
  display: flex;
  justify-content: center;
  align-items: center;
  /* will be calculated as % later */
  height: 450px;
}

.ibrahim-rectangle {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 35px;
  height: 195px;
  width: 1150px;
  padding: 25px;
  background-image: linear-gradient(rgb(0, 191, 165) 0%, rgb(0, 90, 90) 100%);
}
.ibrahim-rectangle h1.header-head-el:not(#header-win-lottery) {
  color: #e5ae48;
  font-size: 1.4rem;
  display: none;
}
.ibrahim-rectangle #header-win-lottery {
  display: none;
  text-shadow: 0px 1px 10px black;
  font-size: 1.1rem;
}

.ibrahim-head-margin {
  margin-top: 15px;
}

#headTag {
  font-size: 1rem;
}

.ibrahim-middle {
  /* will be calculated as % later */
  height: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ibrahim-middle-left {
  height: 350px;
  width: 650px;
}

.ibrahim-middle-right {
  height: 700px;
  width: auto;
  background-color: #EEF4FF;
  position: relative;
  /*
  img {
      width: 574px;
      background-color: white;
      position: absolute;
      left: 20px;
      z-index: 2;
      top: -5px;
      animation: 3s ease-in-out 1s infinite normal none running spaceman-floating;
  }
  */
}

#ps-logo-icon {
  z-index: 1;
}

#header-spaceman-container {
  position: absolute;
  /*left: 20px;*/
  z-index: 3;
  /*top: -5px;*/
  width: 574px;
  height: 574px;
  background: transparent no-repeat center;
  top: -5px;
  left: 54px;
  z-index: 2;
}
#header-spaceman-container img {
  width: 574px;
  animation: 3s ease-in-out 2s infinite normal none running spaceman-floating;
}

@keyframes spaceman-floating {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(5px, 10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.header-middle-tag, .header-middle-button {
  position: relative;
  left: 120px;
  z-index: 3;
}

#middleH1Tag {
  font-size: 55px;
  font-weight: 800;
  width: 16ch;
  line-height: 70px;
  color: #7645d9;
}

#middleH6Tag {
  font-size: 20px;
  line-height: 25px;
  color: #280d5f;
}

#buttonRightMargin {
  margin-right: 6px;
  border-radius: 15px;
  font-size: 15px;
  height: 45px;
  width: 160px;
  text-align: center;
  border: none;
  background-color: #1fc7d4;
  color: #fff;
  box-shadow: 0px 0.5px black;
  appearance: none;
}
#buttonRightMargin:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

#buttonSecondMiddle {
  border-radius: 15px;
  font-size: 15px;
  height: 45px;
  width: 130px;
  text-align: center;
  border: 2px solid #1fc7d4;
  appearance: none;
  background-color: #EEF4FF;
  color: #1fc7d4;
}
#buttonSecondMiddle:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

#header-middle-border {
  position: absolute;
  bottom: -335px;
  z-index: 1;
}

.ibrahim-foot {
  /* will be calculated as % later */
  height: 700px;
  background: linear-gradient(180deg, #fff 22%, #d7caec 100%);
  display: grid;
  justify-content: center;
  align-items: center;
}

.rabbit {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 60px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: rgb(112, 22, 185);
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.flexBox {
  width: 910px;
  height: 320px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
}

.square {
  width: 280px;
  height: 280px;
  border-radius: 25px;
  padding: 24px;
  border: 1px solid rgba(0, 0, 0, 0.103);
  background-color: white;
  box-shadow: 0px 4px rgba(231, 231, 231, 0.685);
}

.alignmentVerHor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.millionBillion {
  font-size: 45px;
  font-weight: bolder;
  line-height: 10px;
  color: #280d5f;
  z-index: 1;
}

.footTexts {
  margin-top: 10px;
  font-size: 15px;
  color: #7a6eaa;
}
.footTexts h3:nth-child(1), .footTexts h3:nth-child(2) {
  color: #988EBE;
  font-weight: normal;
}

#joinText {
  font-weight: 900;
  color: #7a6eaa;
}

.people-icon {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #7645d9;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.trade-icon {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #1fc7d4;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.level-icon {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #ed4b9e;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.icon {
  display: flex;
  justify-content: end;
}

.number {
  font-size: 40px;
  font-weight: bolder;
  height: 16px;
  margin-top: 25px;
  color: #280d5f;
}

.category {
  font-size: 40px;
  font-weight: bolder;
}

.time {
  color: #7a6eaa;
  font-weight: bold;
}

.boxBottoms {
  height: 85%;
  display: grid;
  align-items: flex-end;
}

#usersCategory {
  color: #7645d9;
}

#tradesCategory {
  color: #1fc7d4;
}

#stakedCategory {
  color: #ed4b9e;
}

/*# sourceMappingURL=header.css.map */
