* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
}

.hideMainPage {
  display: none;
}

.trade-nav {
  display: flex;
  position: relative;
  width: 100%;
  height: 99px;
  background: rgba(255, 255, 255, 0.7019607843);
  align-items: flex-end;
  justify-content: center;
}
.trade-nav .tradeNav-item {
  display: flex;
  gap: 20px;
}
.trade-nav .tradeNav-item a {
  font-size: 18px;
  font-weight: bold;
}

.liquidity-main-area {
  display: grid;
  grid-template-rows: 50% 30% 20%;
  width: 100%;
  height: 615px;
  background: linear-gradient(139.73deg, #e5fdff, #f3efff);
}

.cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: 279px;
  position: relative;
}
.cardContainer #liquid-card {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  min-width: 434px;
  height: 279px;
  background: #fff;
  overflow: hidden;
  position: relative;
  z-index: 2;
  border-radius: 24px;
  box-shadow: 0 5px rgba(238, 238, 238, 0.9333333333);
  border: 3px solid rgba(238, 238, 238, 0.9333333333);
}
.cardContainer #liquid-card .card-top {
  display: flex;
  flex-direction: column;
  padding: 24px;
  justify-content: space-between;
  height: 110;
}
.cardContainer #liquid-card .card-top .your-liquid {
  display: flex;
  justify-content: space-between;
  font: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}
.cardContainer #liquid-card .card-top .your-liquid .icons {
  display: flex;
  justify-items: flex-end;
  gap: 20px;
  margin: 5px;
  fill: #7a6eaa;
  color: #7a6eaa;
  font-size: 24px;
}
.cardContainer #liquid-card .card-top .your-liquid h2 {
  color: #280d5f;
}
.cardContainer #liquid-card .card-top .your-liquid .icons .fa-gear, .cardContainer #liquid-card .card-top .your-liquid .fa-clock-rotate-left {
  cursor: pointer;
  color: #7a6eaa;
}
.cardContainer #liquid-card .card-top .your-liquid .icons .fa-gear, .cardContainer #liquid-card .card-top .your-liquid .fa-clock-rotate-left:hover {
  cursor: pointer;
  color: #7a6eaa color 2s ease-out 100ms;
}
.cardContainer #liquid-card .card-top .remove-lqd {
  color: #7a6eaa;
  font-size: 14px;
}
.cardContainer #liquid-card .connect-toWallet {
  background: rgba(238, 238, 238, 0.9333333333);
  padding: 24px;
  text-align: center;
  color: #7a6eaa;
  margin: 0;
}
.cardContainer #liquid-card button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 48px;
  gap: 6px;
  padding: 15px;
  margin: 0 18px;
  background: #1FC7D4;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}
.cardContainer #liquid-card button h2, .cardContainer #liquid-card button i {
  color: #fff;
}
.cardContainer #liquid-card button i {
  font-size: 24px;
  font-weight: bold;
}

.footer-area {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.footer-area .footer-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 0;
  float: right;
  max-width: 816.6px;
  height: 108px;
}

.seondPage-hide {
  display: none;
  width: 100%;
}

.trade-nav2 {
  display: flex;
  position: relative;
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.7019607843);
  align-items: flex-end;
  justify-content: center;
}

.liquidity-main-area2 {
  display: grid;
  grid-template-rows: 65% 20% 15%;
  width: 100%;
  height: 656px;
  background: linear-gradient(139.73deg, #e5fdff, #f3efff);
  position: absolute;
}
.liquidity-main-area2 .innerpage-center {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}
.liquidity-main-area2 .innerpage-center .textWraper {
  padding: 1.1rem;
  border: 1px solid rgba(255, 255, 255, 0.7019607843);
  background: #fff;
  border-radius: 16px;
}
.liquidity-main-area2 .innerpage-center .textWraper .tex-content {
  width: 358px;
  height: 84px;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
  color: #280d5f;
  justify-content: center;
}
.liquidity-main-area2 .cardContainer2 {
  display: flex;
  justify-content: center;
  margin-top: 33px;
}
.liquidity-main-area2 .cardContainer2 #liquid-card2 {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  max-width: 434px;
  width: 100%;
  height: 392px;
  background: #fff;
  z-index: 1;
  border-radius: 24px;
  box-shadow: 0 0 3px rgba(218, 214, 214, 0.933);
  border: 3px solid rgba(238, 238, 238, 0.9333333333);
}
.liquidity-main-area2 .cardContainer2 #liquid-card2 .card-top2 {
  display: flex;
  justify-content: space-between;
  height: 108;
  border-bottom: 1px solid #EEE;
  height: 110px;
  padding: 24px;
}
.liquidity-main-area2 .cardContainer2 #liquid-card2 .card-top2 .arrDiv {
  display: flex;
  align-items: center;
}
.liquidity-main-area2 .cardContainer2 #liquid-card2 .card-top2 .arrDiv .fa-arrow-left {
  width: 32px;
  height: 32px;
  font-size: 25px;
  cursor: pointer;
}
.liquidity-main-area2 .cardContainer2 #liquid-card2 .card-top2 .top-center2 {
  display: flex;
  flex-direction: column;
  width: 338px;
  justify-content: space-between;
}
.liquidity-main-area2 .cardContainer2 #liquid-card2 .card-top2 .top-center2 .topItems {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;
  align-items: center;
}
.liquidity-main-area2 .cardContainer2 #liquid-card2 .card-top2 .top-center2 .topItems .qnh2 {
  display: inline-flex;
  gap: 4px;
}
.liquidity-main-area2 .cardContainer2 #liquid-card2 .card-top2 .top-center2 .topItems .qnh2 h2 {
  color: #280d5f;
}
.liquidity-main-area2 .cardContainer2 #liquid-card2 .card-top2 .top-center2 .topItems .qnh2 .fa-circle-question {
  color: #7645D9;
}
.liquidity-main-area2 .cardContainer2 #liquid-card2 .card-top2 .top-center2 .topItems .twoIcons {
  display: flex;
  gap: 20px;
  fill: #7a6eaa;
  color: #7a6eaa;
  font-size: 24px;
}
.liquidity-main-area2 .cardContainer2 #liquid-card2 .card-top2 .top-center2 .topItems .fa-gear:hover, .liquidity-main-area2 .cardContainer2 #liquid-card2 .card-top2 .top-center2 .topItems .fa-clock-rotate-left:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}
.liquidity-main-area2 .cardContainer2 #liquid-card2 .card-top2 .top-center2 .receiveLp {
  color: #7a6eaa;
  font-size: 14px;
}
.liquidity-main-area2 .cardContainer2 #liquid-card2 .btnConnet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 15px;
  margin: 20px;
  background: #1FC7D4;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}
.liquidity-main-area2 .cardContainer2 #liquid-card2 .btnConnet button {
  background: inherit;
  border: none;
  cursor: pointer;
  color: #EEE;
}
.liquidity-main-area2 .cardContainer2 #liquid-card2 .card-center {
  display: grid;
  grid-template-rows: repeat(3 1fr);
}
.liquidity-main-area2 .cardContainer2 #liquid-card2 .card-center .chooseVp {
  font: 14px;
  padding: 24px;
  color: #7645D9;
  font-weight: bold;
}
.liquidity-main-area2 .cardContainer2 #liquid-card2 .card-center .secondPbtns {
  display: flex;
  gap: 5px;
  justify-content: center;
  width: 370px;
  height: 40px;
  margin-left: 24px;
  position: relative;
  align-items: center;
}
.liquidity-main-area2 .cardContainer2 #liquid-card2 .card-center .secondPbtns .lbtndiv {
  display: flex;
  justify-content: center;
  background: #EEEAFA;
  align-items: center;
  width: 179px;
  height: 40px;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
}
.liquidity-main-area2 .cardContainer2 #liquid-card2 .card-center .secondPbtns .fa-plus {
  width: 20px;
}
.liquidity-main-area2 .cardContainer2 #liquid-card2 .card-center .secondPbtns .rbtndiv {
  display: flex;
  justify-content: center;
  background: #EEEAFA;
  align-items: center;
  width: 179px;
  height: 40px;
  cursor: pointer;
  border-radius: 8px;
}
.liquidity-main-area2 .cardContainer2 #liquid-card2 .card-center .wrapLp {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}
.liquidity-main-area2 .cardContainer2 #liquid-card2 .card-center .lpText {
  font-size: 12px;
  color: #7645D9;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-decoration-thickness: initial;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  -webkit-text-decoration-color: #7a6eaa;
          text-decoration-color: #7a6eaa;
  text-underline-offset: 0.1em;
  font-weight: 600;
}
.liquidity-main-area2 .cardContainer2 #liquid-card2 .card-center .down {
  font-weight: 600;
  color: #1FC7D4;
  font-size: 16px;
}
.liquidity-main-area2 .footer-area2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.liquidity-main-area2 .footer-area2 .footer-right2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 0;
  float: right;
  max-width: 816.6px;
  width: 100%;
  height: 108px;
}/*# sourceMappingURL=liquidity.css.map */