@use "sass:color";
@use "variables.scss" as f;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Kanit, sans-serif;
    text-decoration: none;
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: content-box;
    background-color: f.$bgcolor;
    height: f.rem(56);
    border-bottom: 1px solid #E7E3EB;

    .nav-left {
        display: flex;
        justify-content: center;
        cursor: pointer;
        position: relative;
        align-items: center;
        background-color: f.$bgcolor;
        height: f.rem(56);

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            height: 100%;

            li.item>a {
                color: #7a6eaa;
                font-size: 0.9rem;
            }

            li {
                margin: 0.50rem;
                padding: 0.70rem;

                .logo {
                    padding: 0;
                    font-size: 100%;
                }
            }

            .item:hover .item .tem:hover {
                justify-content: center; ///here
                align-items: center;
                background-color: f.$hoverbg;
            }

            li.item:hover {
                background-color: #EFF4F5;
                /*background-color: f.$hoverbg;*/
                border-radius: f.rem(10);
            }
        }

        //SUBMENUES IN ON THE LEFT EXEPT 
        .submenu1 {
            display: none;
            margin-left: f.rem(-13);
            align-content: flex-start;

            ul {
                li {
                    a {
                        color: #7a6eaa;
                        font-size: 1rem;
                    }
                }
            }
        }

        .sumenu1 .item:hover ul {
            display: block;
            background: f.$hoverbg;
            border-radius: 0.575rem;
            position: absolute;
            padding-left: f.rem(1);
            z-index: 1000;
        }

        li:hover .submenu1,
        .submenu1:hover {
            display: block;
            position: absolute;
            background: f.$bgcolor;
            margin-top: f.$margtop;
            width: f.$bg-widt;
            border-radius: f.rem(16);

            ul {
                display: block;

                li:hover {
                    cursor: pointer;
                    background: f.$hoverbg;
                }

            }


        }

        // Three dots(Ellipsis) area
        .submenu5 {
            display: none;
            margin-left: f.rem(-13);
            z-index: 1;


            
            ul {
                li {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    
                    a {
                        color: #7a6eaa;
                        flex: 1;
                    }
                }

                li:nth-child(4) {
                    border-top: 1px solid #E7E3EB;
                    border-bottom: 1px solid #E7E3EB;
                }
            }
        }

        li:hover .submenu5,
        .submenu5:hover {
            display: block;
            position: absolute;
            background-color: f.$bgcolor;
            margin-top: 1.06rem;
            padding-left: f.rem(1);
            width: f.$bg-widt;
            border-radius: f.rem(20);

            ul {
                display: block;

                li:hover {
                    cursor: pointer;
                    background: f.$hoverbg;
                }

            }
        }

    }



    .nav-right {
        background-color: f.$bgcolor;
        height: f.rem(56);

        ul {
            display: inline-flex;
            list-style: none;
            justify-content: flex-end;

            li {
                margin: 0.50rem;
                padding: 0.50rem;
                cursor: pointer;

                img {
                    width: 24px;
                    height: 24px;
                }

                a {
                    text-decoration: none;
                }

                .navbar-right-img:hover {
                    opacity: 0.6;
                    transition: 0.2s;
                }
            }

            .selection {
                margin-top: f.rem(10);
            }

            #select-network-wrapper {
                height: 100%;

                &:hover {
                    cursor: pointer;
                    background-color: rgba(244, 247, 248, 0.2);
                    
                    #bnb {
                        opacity: 0.6;
                    }
                    
                    #network-selection {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        top: 43px;
                        left: 0px;
                        border: 1px solid black;
                        background-color: white;
                        width: 280px;
                        height: 203px;
                        border-radius: 20px;
                        padding-top: 0;

                        & li {
                            padding: 0;

                        }
    
                        & li:first-child {
                            border-bottom: 1px solid grey;
                            height: 40px;
                            padding-top: 0px;
                            padding-left: 5px;

                            & *:hover {
                                cursor: text;
                            }
                        }

                        & li:not(& li:first-child) {
                            padding: 0;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 1rem;
                        }
                    }

                    #select-network {
                        box-shadow: rgba(0, 0, 0, 0) 0px -2px 0px inset;                    }
                    }
            }


            #select-network {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 180px;
                height: 32px;
                position: relative;
                top: -3px;
                left: 7px;
                border-radius: 20px;
                padding-left: 20px;
                box-sizing: content-box;
                background-color: rgba(244, 247, 248, 1);
                color: #280d5f;
                font-size: 0.9rem;
                box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 0px inset;
                
                p {
                    margin-left: 15px;
                    font-weight: bold;
                    flex: 1;
                }

                #bnb {
                    width: 32px;
                    height: 32px;
                    position: absolute;
                    left: -5px;
                }

                #network-down-arrow {
                    margin-right: 10px;
                }
            }

            #network-selection {
                display: none;
                padding: 0;
            }

            .connect {
                position: relative;
                margin-top: f.rem(8);
                align-items: center;

                button {
                    appearance: none;
                    border: none;
                    width: 149.2px;
                    height: 32px;
                    border-radius: 15px;
                    font-weight: bold;
                    color: white;
                    font-size: 0.9rem;
                    background-color: #6CDAE2;
                    box-shadow:0px 1.5px #68AAB7;
                    position: relative;
                    bottom: 4px;
                }

                button:hover {
                    opacity: 0.6;
                    transition: 0.3s;
                    cursor: pointer;
                }
            }

            .fee {
                display: flex;
                align-items: center;

                .dollars {
                    color: #7A6EAA;
                    font-weight: bold;
                    padding-left: f.rem(3);
                }
            }



        }

        .sublanguage {
            display: none;
            position: absolute;
        }
        
        li:hover .sublanguage,
        .sublanguage:hover {
            display: block;
            position: absolute;
        }
        
        li:hover .sublanguage,
        .sublanguage:hover {
            display: block;
            position: absolute;
            background-color: f.$bgcolor;
            padding-left: f.rem(1);
            width: f.rem(180);
            min-height: f.rem(32);
            height: 480px;
            border-radius: f.rem(8);
            margin-left: f.rem(-65);

            ul {
                display: block;
                overflow: auto; 
                justify-content: center;
                letter-spacing: 0.03em;
                opacity: f.rem(1);
                font-weight: 600;
                font-size: f.rem(16);
                align-items: center;
                height: f.rem(480);
                box-shadow: none;
                line-height: 1;

                li:hover {
                    color: rgb(90, 45, 133);
                    cursor: pointer;
                    font-family: inherit;

                }

            }

            ul {
                display: block;

                li {
                    text-align: center;
                }
            }
        }


    }















}