/* INFOS variables */
/* end of INFOS variables */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Kanit, sans-serif;
  text-decoration: none;
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: content-box;
  background-color: #fff;
  height: 3.5rem;
  border-bottom: 1px solid #E7E3EB;
}
.navbar .nav-left {
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
  align-items: center;
  background-color: #fff;
  height: 3.5rem;
}
.navbar .nav-left ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.navbar .nav-left ul li.item > a {
  color: #7a6eaa;
  font-size: 0.9rem;
}
.navbar .nav-left ul li {
  margin: 0.5rem;
  padding: 0.7rem;
}
.navbar .nav-left ul li .logo {
  padding: 0;
  font-size: 100%;
}
.navbar .nav-left ul .item:hover .item .tem:hover {
  justify-content: center;
  align-items: center;
  background-color: rgb(192, 197, 192);
}
.navbar .nav-left ul li.item:hover {
  background-color: #EFF4F5;
  /*background-color: f.$hoverbg;*/
  border-radius: 0.625rem;
}
.navbar .nav-left .submenu1 {
  display: none;
  margin-left: -0.8125rem;
  align-content: flex-start;
}
.navbar .nav-left .submenu1 ul li a {
  color: #7a6eaa;
  font-size: 1rem;
}
.navbar .nav-left .sumenu1 .item:hover ul {
  display: block;
  background: rgb(192, 197, 192);
  border-radius: 0.575rem;
  position: absolute;
  padding-left: 0.0625rem;
  z-index: 1000;
}
.navbar .nav-left li:hover .submenu1,
.navbar .nav-left .submenu1:hover {
  display: block;
  position: absolute;
  background: #fff;
  margin-top: 1.2rem;
  width: 20rem;
  border-radius: 1rem;
}
.navbar .nav-left li:hover .submenu1 ul,
.navbar .nav-left .submenu1:hover ul {
  display: block;
}
.navbar .nav-left li:hover .submenu1 ul li:hover,
.navbar .nav-left .submenu1:hover ul li:hover {
  cursor: pointer;
  background: rgb(192, 197, 192);
}
.navbar .nav-left .submenu5 {
  display: none;
  margin-left: -0.8125rem;
  z-index: 1;
}
.navbar .nav-left .submenu5 ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.navbar .nav-left .submenu5 ul li a {
  color: #7a6eaa;
  flex: 1;
}
.navbar .nav-left .submenu5 ul li:nth-child(4) {
  border-top: 1px solid #E7E3EB;
  border-bottom: 1px solid #E7E3EB;
}
.navbar .nav-left li:hover .submenu5,
.navbar .nav-left .submenu5:hover {
  display: block;
  position: absolute;
  background-color: #fff;
  margin-top: 1.06rem;
  padding-left: 0.0625rem;
  width: 20rem;
  border-radius: 1.25rem;
}
.navbar .nav-left li:hover .submenu5 ul,
.navbar .nav-left .submenu5:hover ul {
  display: block;
}
.navbar .nav-left li:hover .submenu5 ul li:hover,
.navbar .nav-left .submenu5:hover ul li:hover {
  cursor: pointer;
  background: rgb(192, 197, 192);
}
.navbar .nav-right {
  background-color: #fff;
  height: 3.5rem;
}
.navbar .nav-right ul {
  display: inline-flex;
  list-style: none;
  justify-content: flex-end;
}
.navbar .nav-right ul li {
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}
.navbar .nav-right ul li img {
  width: 24px;
  height: 24px;
}
.navbar .nav-right ul li a {
  text-decoration: none;
}
.navbar .nav-right ul li .navbar-right-img:hover {
  opacity: 0.6;
  transition: 0.2s;
}
.navbar .nav-right ul .selection {
  margin-top: 0.625rem;
}
.navbar .nav-right ul #select-network-wrapper {
  height: 100%;
}
.navbar .nav-right ul #select-network-wrapper:hover {
  cursor: pointer;
  background-color: rgba(244, 247, 248, 0.2);
}
.navbar .nav-right ul #select-network-wrapper:hover #bnb {
  opacity: 0.6;
}
.navbar .nav-right ul #select-network-wrapper:hover #network-selection {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 43px;
  left: 0px;
  border: 1px solid black;
  background-color: white;
  width: 280px;
  height: 203px;
  border-radius: 20px;
  padding-top: 0;
}
.navbar .nav-right ul #select-network-wrapper:hover #network-selection li {
  padding: 0;
}
.navbar .nav-right ul #select-network-wrapper:hover #network-selection li:first-child {
  border-bottom: 1px solid grey;
  height: 40px;
  padding-top: 0px;
  padding-left: 5px;
}
.navbar .nav-right ul #select-network-wrapper:hover #network-selection li:first-child *:hover {
  cursor: text;
}
.navbar .nav-right ul #select-network-wrapper:hover #network-selection li:not(.navbar .nav-right ul #select-network-wrapper:hover #network-selection li:first-child) {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.navbar .nav-right ul #select-network-wrapper:hover #select-network {
  box-shadow: rgba(0, 0, 0, 0) 0px -2px 0px inset;
}
.navbar .nav-right ul #select-network {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 180px;
  height: 32px;
  position: relative;
  top: -3px;
  left: 7px;
  border-radius: 20px;
  padding-left: 20px;
  box-sizing: content-box;
  background-color: rgb(244, 247, 248);
  color: #280d5f;
  font-size: 0.9rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 0px inset;
}
.navbar .nav-right ul #select-network p {
  margin-left: 15px;
  font-weight: bold;
  flex: 1;
}
.navbar .nav-right ul #select-network #bnb {
  width: 32px;
  height: 32px;
  position: absolute;
  left: -5px;
}
.navbar .nav-right ul #select-network #network-down-arrow {
  margin-right: 10px;
}
.navbar .nav-right ul #network-selection {
  display: none;
  padding: 0;
}
.navbar .nav-right ul .connect {
  position: relative;
  margin-top: 0.5rem;
  align-items: center;
}
.navbar .nav-right ul .connect button {
  appearance: none;
  border: none;
  width: 149.2px;
  height: 32px;
  border-radius: 15px;
  font-weight: bold;
  color: white;
  font-size: 0.9rem;
  background-color: #6CDAE2;
  box-shadow: 0px 1.5px #68AAB7;
  position: relative;
  bottom: 4px;
}
.navbar .nav-right ul .connect button:hover {
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}
.navbar .nav-right ul .fee {
  display: flex;
  align-items: center;
}
.navbar .nav-right ul .fee .dollars {
  color: #7A6EAA;
  font-weight: bold;
  padding-left: 0.1875rem;
}
.navbar .nav-right .sublanguage {
  display: none;
  position: absolute;
}
.navbar .nav-right li:hover .sublanguage,
.navbar .nav-right .sublanguage:hover {
  display: block;
  position: absolute;
}
.navbar .nav-right li:hover .sublanguage,
.navbar .nav-right .sublanguage:hover {
  display: block;
  position: absolute;
  background-color: #fff;
  padding-left: 0.0625rem;
  width: 11.25rem;
  min-height: 2rem;
  height: 480px;
  border-radius: 0.5rem;
  margin-left: -4.0625rem;
}
.navbar .nav-right li:hover .sublanguage ul,
.navbar .nav-right .sublanguage:hover ul {
  display: block;
  overflow: auto;
  justify-content: center;
  letter-spacing: 0.03em;
  opacity: 0.0625rem;
  font-weight: 600;
  font-size: 1rem;
  align-items: center;
  height: 30rem;
  box-shadow: none;
  line-height: 1;
}
.navbar .nav-right li:hover .sublanguage ul li:hover,
.navbar .nav-right .sublanguage:hover ul li:hover {
  color: rgb(90, 45, 133);
  cursor: pointer;
  font-family: inherit;
}
.navbar .nav-right li:hover .sublanguage ul,
.navbar .nav-right .sublanguage:hover ul {
  display: block;
}
.navbar .nav-right li:hover .sublanguage ul li,
.navbar .nav-right .sublanguage:hover ul li {
  text-align: center;
}

/*# sourceMappingURL=navbar.css.map */
