@import url("./phishing-warning.css");
@import url("navbar.css");
@import url(header.css);
@import url(variables.css);
@import url(cards.css);
@import url("./infos.css");
@import url("./signup.css");
@import url("./fab.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
