$ibrahim-debug-color: red;
$ibrahim-pools-head-background-color: #E6FDFF;
$ibrahim-pools-head-background-color2: #F2F0FF;
$ibrahim-pools-head-text1-color: #7645D9;
$ibrahim-pools-head-texts-color: #280D5F;
$ibrahim-pools-head-padding: 20px;