$bgcolor: #fff;
$margtop: 1.2rem;
$bg-widt: 20rem;
$redcolor: rgb(249, 201, 201);
$hoverbg: rgb(192, 197, 192);

@function rem($sizes) {
  @return calc($sizes/16) + rem;
}
$ibrahim-debug-color: red;
/* INFOS variables */
$infos-1-bg-color: #FAF9FA;
$up-down-color: #7a6eaa;
$up-down-hover-color: #aaa9ac;
$infos-1-button-bg-color: #ebf0f5;
$data-box-h3-color: #7645d9;
$data-box-p-color: #7a6eaa;
$infos-2-bg-color: rgba(255, 255, 255, 0.7);
$price-box-bg-color: #1fc7d4;
$price-box-shadow: #15858e;
$price-font-size: 2.3rem;
$infos-2-button-font-size: 1rem;
$infos-2-win: #7645d9;
/* end of INFOS variables */
